body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  margin: 0.6rem 0;
}

button {
  background-color: #007bff;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.movie-container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie-header img {
  max-width: 150px;
  margin-right: 20px;
}

.movie-header h1 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.movie-header p {
  margin: 5px 0;
}

.movie-details {
  margin-top: 20px;
}

.movie-details p {
  margin: 10px 0;
}

.movie-details .rating {
  font-weight: bold;
}

.movie-details .field {
  font-weight: bold;
}
